<nav class="navbar">
  <img class="logo" src="assets/imgs/logo-white-v4 1.png">

  <div class="buttons responsive">
    <button mat-button>
      <span class="material-icons nav-icon">login</span>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
      <span class="material-icons nav-icon">menu</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Servicios</button>
      <button mat-menu-item>¿Cómo funciona?</button>
    </mat-menu>
  </div>

  <div class="buttons desktop">
    <button mat-raised-button class="btn-radius">
      <p class="btn-text">Servicios</p>
    </button>
    <button mat-raised-button class="btn-radius">
      <p class="btn-text">¿Cómo funciona?</p>
    </button>
    <button mat-button class="btn-logIn btn-radius">
      <p class="btn-text">iniciar sesión</p>
    </button>
  </div>

</nav>