mat-toolbar{
    background-color: #1E201A;
}

.example-spacer {
    flex: 1 1 auto;
}

.btn-logIn{
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.btn-radius{
    border-radius: 2rem;
}

.btn-text{
    font-size: 21px;
    margin-bottom: 0px;
}