<mat-card class="example-card">
  <mat-card-title>
    <span class="material-icons user-icon">account_circle</span>
    <p class="name">Nombre persona</p> <!-- data name person -->
  </mat-card-title>
  
  <mat-card-content>
    <p class="price">total a cobrar: $150.000</p> <!-- data price -->
    <div class="time">
      <div class="date-group">
        <span class="material-icons calendar-icon">calendar_today</span>
        <p class="date">20/10/2022</p> <!-- data date -->
      </div>
      <div class="hour-group">
        <span class="material-icons watch-icon">schedule</span>
        <p class="hour">22:00</p> <!-- data hour -->
      </div>
    </div>
    <p class="received-time">Recibido el 20/08/2022</p>
  </mat-card-content>
</mat-card>