@use "@material/layout-grid/mdc-layout-grid";

.text-center{
    text-align: center;
    padding: 2rem 1.5rem;
}

.title-view{
    font-size: 30px;
    font-weight: 500;
}

.sub-title-view{
    font-size: 22px;
}

.max-width{
    max-width: 1280px;
}