<ion-card expand="full">
    <ion-card-content  class="ion-text-capitalize">
      <ion-col class="category">
        <ion-badge class="badge">{{budget.category}}</ion-badge>
      </ion-col>
      <p class="distance">{{budget.distance}} de distancia</p>
      <ion-card-title class="ion-text-capitalize" size="small">Aliquam vitae lobortis ut</ion-card-title>
      <ion-col>
        <ion-icon name="calendar-clear-outline"></ion-icon>
        <p class="date">{{budget.date}}</p>
      </ion-col>
      <ion-col>
        <ion-icon name="location"></ion-icon>
        <p class="address">{{budget.address}}</p>
      </ion-col>
    </ion-card-content>
</ion-card>